/* Login */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}

.container{
    position: relative;
    width: 700px;
    height: 450px;
    border: 2px solid #db64ff;
    box-shadow: 0 0 25px #db64ff;
    background: #000000;
    border-radius: 30px;
    overflow: hidden;
}
.form_box h2{
    font-size: 32px;
    text-align: left;
}
.container .form_box{
    position: relative;
    width: 80%;
    height: 50px;
    margin-top: 65px;
    color: #ffffff;
}

.form_box.Login{
    left: 0;
    padding: 0 60px;
}

.form_box .input_box{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

.input_box input{
    width: 50%;
    height: 80%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    padding-right: 23px;

}

.input_box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #ffffff;
    transition: .5s;
}

.input_box input:focus ~ label,
.input_box input:valid ~ label{
    top: -5px;
    color: #db64ff;
}

.btn{
    position: relative;
    width: 50%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #db64ff;
    overflow: hidden;
    z-index: 1;
}

.btn::before{
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#000000, #db64ff, #000000,#cd27ff);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.btn:hover::before{
    top: 0;
}

.info-content{
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-content.Login{
    right: 0;
    text-align: right;
    padding: 0px 30px 70px 10px;
}

.info-content.Login{
    font-size: 30px;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
}

.container .curved_shape1{
    position: absolute;
    right: 0;
    top: -5px;
    height: 600px;
    width: 850px;
    background: linear-gradient(45deg,#481164,#a64bc2);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
}

/* Register */


.containerReg{
    position: relative;
    width: 700px;
    height: 750px;
    border: 2px solid #db64ff;
    box-shadow: 0 0 25px #db64ff;
    background: #000000;
    border-radius: 30px;
    overflow: hidden;
}

.containerReg .curved_shape2{
    position: absolute;
    right: 0;
    top: -5px;
    height: 950px;
    width: 850px;
    background: linear-gradient(45deg,#481164,#a64bc2);
    transform: rotate(20deg) skewY(42deg);
    transform-origin: bottom right;
}

.containerReg .form_box{
    position: relative;
    width: 80%;
    height: 50px;
    margin-top: 65px;
    color: #ffffff;
}

/*AdminMainmenu*/
.btnmainmenu{

background: #000000;

}

.btn_admin{
    position: relative;
    width: 200px;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #db64ff;
    overflow: hidden;
    z-index: 1;
    
}

.btn_admin::before{
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#000000, #db64ff, #000000,#cd27ff);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.btn_admin:hover::before{
    top: 0;
}